.TypingTextAnimation{
     display: flex;
     flex-direction: column;
     align-items: center;
     line-height: 32px;
    //  word-spacing: -2px;
     .underscoreFlicker{
         display: inline-block;
         width: 8px;
         height: 2px;
         background-color: var(--PrimaryColor);
         animation-name: flicker;
         animation-duration: 0.5s;
         animation-iteration-count: infinite;
         margin-left: 3px;
     }
}

@keyframes flicker {
    from { visibility: visible;}
    to { visibility: hidden;}
}