.title{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .custom-header{
        text-decoration: underline;
    }
    .title-2-color{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}