.facebook-button{
    background-color: rgba(5, 0, 0, 0.3);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &-icon{
        width: 20px;
        height: 20px;
        &:hover{
            width: 28px;
            height: 28px;
            transition: .2s all ease-in-out;
        }
    }
}